@import './reset.css';
@import './variables.css';
@import './typography.css';

.frontend {
	border: 2px solid var(--yellow) !important;
	color: var(--yellow) !important;

	.info {
		color: color-mix(in srgb, var(--yellow), var(--text) 50%);
	}

	.usedAt li {
		padding: var(--padding-xs) var(--padding-sm);
		border-radius: 2px;
		color: var(--reverse-text);
		background: color-mix(in srgb, var(--yellow), var(--text) 50%);
	}
}
.backend {
	border: 2px solid var(--blue) !important;
	color: var(--blue) !important;

	.info {
		color: color-mix(in srgb, var(--blue), var(--text) 50%);
	}

	.usedAt li {
		padding: var(--padding-xs) var(--padding-sm);
		border-radius: 2px;
		color: var(--reverse-text);
		background: color-mix(in srgb, var(--blue), var(--text) 50%);
	}
}
.fullstack {
	border: 2px solid var(--green) !important;
	color: var(--green) !important;

	.info {
		color: color-mix(in srgb, var(--green), var(--text) 50%);
	}

	.usedAt li {
		padding: var(--padding-xs) var(--padding-sm);
		border-radius: 2px;
		color: var(--reverse-text);
		background: color-mix(in srgb, var(--green), var(--text) 50%);
	}
}
.devops {
	border: 2px solid var(--orange) !important;
	color: var(--orange) !important;

	.info {
		color: color-mix(in srgb, var(--orange), var(--text) 50%);
	}

	.usedAt li {
		padding: var(--padding-xs) var(--padding-sm);
		border-radius: 2px;
		color: var(--reverse-text);
		background: color-mix(in srgb, var(--orange), var(--text) 50%);
	}
}
.methodology {
	border: 2px solid var(--pink) !important;
	color: var(--pink) !important;

	.info {
		color: color-mix(in srgb, var(--pink), var(--text) 50%);
	}

	.usedAt li {
		padding: var(--padding-xs) var(--padding-sm);
		border-radius: 2px;
		color: var(--reverse-text);
		background: color-mix(in srgb, var(--pink), var(--text) 50%);
	}
}
.design {
	border: 2px solid var(--purple) !important;
	color: var(--purple) !important;

	.info {
		color: color-mix(in srgb, var(--purple), var(--text) 50%);
	}

	.usedAt li {
		padding: var(--padding-xs) var(--padding-sm);
		border-radius: 2px;
		color: var(--reverse-text);
		background: color-mix(in srgb, var(--purple), var(--text) 50%);
	}
}
