@import './reset.css';
@import './variables.css';
@import './typography.css';

.frontend {
	border: 2px solid var(--yellow) !important;
	color: var(--yellow) !important;

	.info {
		color: var(--yellow);
	}
}
.backend {
	border: 2px solid var(--blue) !important;
	color: var(--blue) !important;

	.info {
		color: var(--blue);
	}
}
.fullstack {
	border: 2px solid var(--green) !important;
	color: var(--green) !important;

	.info {
		color: var(--green);
	}
}
.devops {
	border: 2px solid var(--orange) !important;
	color: var(--orange) !important;

	.info {
		color: var(--orange);
	}
}
.methodology {
	border: 2px solid var(--pink) !important;
	color: var(--pink) !important;

	.info {
		color: var(--pink);
	}
}
.design {
	border: 2px solid var(--purple) !important;
	color: var(--purple) !important;

	.info {
		color: var(--purple);
	}
}
