@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&family=Space+Mono:wght@400;700&display=swap');

:root {
	--header-font-family: 'Mulish', sans-serif;
	--body-font-family: 'Space Mono', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--header-font-family);
}

h1 {
	font-size: clamp(2.5rem, 6svw, 6rem);
}

h2 {
	font-size: clamp(3rem, 5svw, 5rem);
}

h3 {
	font-size: clamp(2.25rem, 2.75svw, 2.75rem);
}

h4 {
	font-size: clamp(1.5rem, 2svw, 2rem);
}

h5 {
	font-size: clamp(1rem, 1.5svw, 1.5rem);
}

h6 {
	font-size: clamp(0.75rem, 1svw, 1rem);
}

p {
	font-size: clamp(1.75rem, 2.5svw, 2.5rem);
	font-size: 1rem;
	line-height: 1.5;
}

small {
	font-size: 0.833rem;
}

.resizeable {
	font-size: clamp(1rem, 2.5svw, 2.5rem);
}

b {
	font-weight: 600;
}
