@font-face {
  font-family: 'Mulish';
	font-weight: 700;
  src:
    local('Mulish'),
		url('./fonts/Mulish-VariableFont_wght.ttf') format('truetype');
	display: swap;
}

@font-face {
  font-family: 'Mulish Thin';
	font-weight: 200;
  src:
    local('Mulish'),
		url('./fonts/Mulish-ExtraLight.ttf') format('truetype');
	display: swap;
}

@font-face {
  font-family: 'Space Mono';
	font-weight: 700;
  src:
    local('Space Mono'),
    url('./fonts/SpaceMono-Bold.ttf') format('truetype');
	display: swap;
}

:root {
	--header-font-family: 'Mulish', system-ui, sans-serif;
	--body-font-family: 'Space Mono', monospace;
}

html {
	font-family: var(--body-font-family);
}

article p a {
	color: var(--primary);
}

a {
	 cursor: pointer;
	 text-decoration: underline;
}

a,
button {
	padding: var(--padding-xs);
}

a:focus,
button:focus {
	--color: color-mix(in srgb, var(--primary), var(--text) 50%);
	outline: 2px solid var(--color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--header-font-family);
	color: var(--primary);
}

h1 {
	font-size: clamp(3rem, 6svw, 5rem);
}

h2 {
	font-size: clamp(4rem, 7svw, 6rem);
	padding: 1.5svw 0;
	color: var(--text);
	font-weight: 200;
	font-family: 'Mulish Thin', system-ui, sans-serif;
}

h3 {
	font-size: clamp(1.5rem, 2.5svw, 2rem);
	padding: 1.25svw 0;
	color: var(--text);
}

h4 {
	font-size: clamp(1.2rem, 2svw, 1.75rem);
	padding: 1svw 0;
	color: var(--text);
	font-family: 'Mulish Thin', system-ui, sans-serif;
}

h5 {
	font-size: clamp(1rem, 1.5svw, 1.5rem);
	padding: 1.5svw 0;
}

h6 {
	font-size: clamp(0.75rem, 1svw, 1rem);
	padding: 0.75svw 0;
}

p {
	font-size: clamp(1rem, 1.5svw, 1rem);
	padding: 0.5svh 0;
	line-height: 1.5;
}

small {
	font-size: 0.833rem;
}

.resizeable {
	font-size: clamp(1rem, 1.75svw, 1.5rem);
}

b {
	font-weight: 600;
}
