@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&family=Space+Mono:wght@400;700&display=swap');

:root {
	--header-font-family: 'Mulish', sans-serif;
	--body-font-family: 'Space Mono', monospace;
}

html {
	font-family: var(--body-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--header-font-family);
}

h1 {
	font-size: clamp(3rem, 6svw, 6rem);
}

h2 {
	font-size: clamp(1.75rem, 3svw, 3rem);
	padding: 1.5svw 0;
}

h3 {
	font-size: clamp(2rem, 2.5svw, 2rem);
	padding: 1.25svw 0;
}

h4 {
	font-size: clamp(1.5rem, 2svw, 1.75rem);
	padding: 1svw 0;
}

h5 {
	font-size: clamp(1rem, 1.5svw, 1.5rem);
	padding: 1.5svw 0;
}

h6 {
	font-size: clamp(0.75rem, 1svw, 1rem);
	padding: 0.75svw 0;
}

p {
	font-size: clamp(1rem, 1.5svw, 1rem);
	padding: 0.75svw 0;
	line-height: 1.5 0;
}

small {
	font-size: 0.833rem;
}

.resizeable {
	font-size: clamp(1rem, 1.75svw, 1.5rem);
}

b {
	font-weight: 600;
}
