:root {
	/* Colors */
	--black: #000000;
	--black-75: rgba(0, 0, 0, 0.75);
	--black-15: rgba(0, 0, 0, 0.15);
	--white-75: rgba(255, 255, 255, 0.75);
	--white-15: rgba(255, 255, 255, 0.15);
	--white: #ffffff;
	--gray: #808080;
	--grey: var(--gray);
	--bright-pink-p3: oklch(71.76% 0.351 333.53);
	--bright-pink: oklab(71.76% 0.31 -0.16);
	--bright-purple-p3: oklch(55.5% 0.292 310.76);
	--bright-blue-p3: oklch(72.06% 0.191 231.35);
	--bright-orange-p3: oklch(71.76% 0.232 42.35);
	--bright-orange: oklab(71.76% 0.17 0.16);
	--bright-green-p3: oklch(83.24% 0.339 146.12);
	--bright-green: oklab(83.24% -0.28 0.19);
	--bright-yellow-p3: oklch(93.68% 0.225 106.41);
	--bright-yellow: oklab(93.24% -0.12 0.22);

	--yellow: var(--bright-yellow-p3, #f9db22);
	--blue: var(--bright-blue-p3, #7286ee);
	--green: var(--bright-green-p3, #10d71e);
	--orange: var(--bright-orange-p3, #f0911b);
	--pink: var(--bright-pink-p3, #ec93f1);
	--purple: var(--bright-purple-p3, #d43bdc);

	color-scheme: 'pink';

	/* Base Colors */
	--text: var(--white);
	--reverse-text: var(--black);
	--background: var(--black);
	--primary: var(--pink);
	--primary-2: var(--yellow);
	--trans-background: var(--black-75);
	--me-trans-background: var(--black-15);

	/* Sizes */
	--size-1: 0.5rem;
	--size-2: 0.75rem;
	--size-3: 1rem;
	--size-4: 1.25rem;
	--size-5: 1.5rem;
	--size-6: 1.75rem;

	--gap: var(--size-3);

	--padding-xs: var(--size-1);
	--padding-sm: var(--size-2);
	--padding-md: var(--size-3);
	--padding-lg: var(--size-4);
	--padding-xl: var(--size-5);
	--padding-xxl: var(--size-6);

	--margin-xs: var(--size-1);
	--margin-sm: var(--size-2);
	--margin-md: var(--size-3);
	--margin-lg: var(--size-4);
	--margin-xl: var(--size-5);
	--margin-xxl: var(--size-6);

	/* Borders */
	--border-radius-xs: 25%;
	--border-radius-sm: 50%;
	--border-radius-md: 75%;
	--border-radius-lg: 100%;
	--border-radius-full: var(--border-radius-lg);

	--border-base: 2px solid var(--gray);
	--border-primary: 2px solid var(--primary);
	--border-primary-2: 2px solid var(--primary-2);
	--border-hover: var(--border-primary);
}

/* Prefers Dark */
@media (prefers-color-scheme: dark) {
	:root {
		--text: var(--white);
		--reverse-text: var(--black);
		--background: var(--black);
		--trans-background: var(--black-75);
	}
}

/* Prefers Light */
@media (prefers-color-scheme: light) {
	:root {
		--text: var(--black);
		--reverse-text: var(--white);
		--background: var(--white);
		--trans-background: var(--white-75);
	}
}

[color-scheme='pink'] {
	color-scheme: 'pink';
	--primary: var(--bright-pink);
}

[color-scheme='orange'] {
	color-scheme: 'orange';
	--primary: var(--bright-orange);
}

[color-scheme='green'] {
	color-scheme: 'green';
	--primary: var(--bright-green);
}

[color-scheme='yellow'] {
	color-scheme: 'yellow';
	--primary: var(--bright-yellow);
}

html {
	font-size: 16px;
	font-family: 'Inter', sans-serif;
	color: var(--text);
	background-color: var(--background);
}
